[MESSAGES CONTROL]

disable=
    fixme,
    invalid-name,
    invalid-unary-operand-type,
    missing-docstring,
    no-member,
    no-name-in-module,
    too-few-public-methods,
    too-many-locals,
